# local files
src/plymouthdjango/settings/local.py
local.py
local.*
static/
staticfiles/
staticfiles_dir/

db.sqlite3
__pycache__/
*.pyc
*.key


# virtual environments
venv/

# editor settings
.vscode/
